<a href="https://colab.research.google.com/github/ArmanveerKaur/Subset-Selection-Problem/blob/main/subset_selection_problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Problem statement


1. Find all the subsets from a set of numbers whose sum is zero.
2. Constraint: Subset size must be 5 
3. Set={-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4}

In [ ]:
#including the library
import random as r

In [ ]:
#setting parameters
S=set([-12,-3,-6,7,2,-2,6,3,9,-7,-5,-8,1,11,-9,-4])
size=5
list=set()
iter=1000 #iterrations

In [ ]:
#program
for i in range(iter):    #loop works till no. of iterations
  x=r.sample(S, size)     #selecting elements from set S
  if sum(x)==0:          #checking the sum of elements of set
    list.add(tuple(x))

<ipython-input-3-7e23ac8ec7e9>:3: DeprecationWarning: Sampling from a set deprecated
since Python 3.9 and will be removed in a subsequent version.
  x=r.sample(S, size)     #selecting elements from set S

In [ ]:
#print the set
for r in list:
 print(r) 
#printing the no. of sets       
print("No. of sets whose sum is zero:",len(list))

(-12, -4, 1, 6, 9)
(9, -2, -6, 7, -8)
(3, 6, -4, -3, -2)
(1, -12, -6, 6, 11)
(6, -9, 2, -2, 3)
(11, -5, -2, 2, -6)
(-12, 1, -6, 6, 11)
(-12, 6, 3, -8, 11)
(-8, 6, 2, -7, 7)
(6, -8, -7, 11, -2)
(-6, 9, 6, -4, -5)
(-2, 7, -12, 11, -4)
(6, -2, -7, 1, 2)
(1, 2, 6, -6, -3)
(7, -8, 1, -9, 9)
(-8, 7, -6, -2, 9)
(-7, -4, 3, 2, 6)
(3, 6, -7, 2, -4)
(3, 9, -2, -3, -7)
(2, 11, 1, -5, -9)
(6, 3, -5, 2, -6)
(6, -3, -5, 11, -9)
(3, -4, -3, -5, 9)
(-7, 7, 3, -5, 2)
(7, -12, 6, -3, 2)
(3, 6, -7, -9, 7)
(6, -4, 3, 1, -6)
(9, 3, 7, -7, -12)
(-4, -6, 11, -7, 6)
(3, 11, -9, -12, 7)
(-4, -2, 3, 6, -3)
(7, 11, -7, -6, -5)
No. of sets whose sum is zero: 32

2.Problem statement


1.   Find all the subsets from a set of numbers whose sum is zero
2.   Constraint: Subset size must be 3 to 6 only
3.   Set={-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4}

In [ ]:
#including library
import random as r

In [ ]:
#parameters
S=set([-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4])
size_lb=3
size_ub=6
list=set()
iter=1000  #no. of iterartions

In [ ]:
#program
for i in range(iter):             #loop works till no. number of iterartions
 size=r.randint(size_lb,size_ub)  #selecting set size
 x=r.sample(S,size)               #selecting the set
 if sum(x)==0:                     #checking the sum of the elements of the set
  list.add(tuple(x))

<ipython-input-9-7509c3196b26>:4: DeprecationWarning: Sampling from a set deprecated
since Python 3.9 and will be removed in a subsequent version.
  x=r.sample(S,size)               #selecting the set

In [ ]:
#printing set
for j in list:
 print(j)
#no. of sets
print("no.of sets:",len(list))

(-7, 11, 2, -9, 3)
(1, -8, 7)
(9, 1, -9, 11, -12)
(-12, 9, 1, -4, 6)
(-6, 11, -12, -3, 9, 1)
(-8, -4, 11, -12, 7, 6)
(-8, 11, -3)
(6, 9, -8, 2, -6, -3)
(-2, -4, -6, 1, 9, 2)
(-12, 1, 11)
(-2, -8, 3, 1, 6)
(2, -8, 6)
(-8, 9, -12, 6, 7, -2)
(6, -4, -2)
(2, 11, -3, -2, -8)
(11, 1, 3, -12, -3)
(3, 2, -8, -3, 6)
(-2, -3, 3, 2)
(7, -2, -5)
(-4, -2, 6)
(6, -4, -9, 7)
(9, -9, -4, 7, -3)
(6, 3, -4, 11, -7, -9)
(9, -2, -3, -4)
(11, 3, -8, -9, -6, 9)
(11, -3, 1, -9)
(1, -7, -8, -2, 9, 7)
(3, -5, 2)
(2, -9, -4, 11)
(6, 3, 1, -12, 2)
(-3, 2, 1)
no.of sets: 31